.node__branch > circle {
    fill: #ffffff;
}

.node__branch__visited > circle {
    fill: #198754;
}

.rd3t-label >.rd3t-label__title{
    stroke: #ffffff;
}

.binary-tree {
    width: 100%;
    height: 75vh;
    color:#ffffff;
}